{% block base_sidebar %}
    <nav class="sidebar-app text-light" id="sidebar">
        <ul class="list-unstyled flex-grow-1">
            <li class="menu-container-app">
                <div class="menu-app" id="menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </li>
            <li>
                <a href="/">
                    <img src="{{ url_for('static', filename='img/home-icon.svg') }}" alt="">
                    <span>Home</span>
                </a>
            </li>
                {% if page == 'home' %}
                    {% block sidebar_home %}
                        {% include "sidebar-home.html" %}
                    {% endblock sidebar_home %}
                {% elif page == 'users' %}
                    {% block list_users %}
                        {% include "sidebar-list-users.html" %}
                    {% endblock list_users %}
                {% elif page == 'projects_user' %}
                    {% block projects_user %}
                        {% include "sidebar-projects-user.html" %}
                    {% endblock projects_user %}
                {% elif page == 'assigned_projects' %}
                    {% block assigned_projects %}
                        {% include "sidebar-assigned-projects.html" %}
                    {% endblock assigned_projects %}
                {% endif %}
            <li class="mt-auto">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/logout-icon.svg') }}" alt="">
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock base_sidebar %}
{% block script_sidebar %}
    <script src="{{ url_for('static', filename='js/script-sidebar.js') }}"></script>
{% endblock script_sidebar %}
