{% block content_form_delete_user %}
    <div class="position-fixed top-0 start-0 end-0 bottom-0 bg-light bg-opacity-50 d-flex justify-content-center align-items-center z-index-1050 hidden-delete" id="hidden-delete-user">
        <div class="bg-black p-4 rounded-4 shadow-lg w-100" style="max-width: 32rem; position: relative;">
            <h4 class="text-center text-light fw-semibold mb-4">DELETE USER</h4>
            <p class="text-center text-light fst-normal">Are you sure you want to delete this user?</p>
            <div class="d-flex justify-content-end">
                <form id="form-delete-user" action="" method="POST">
                    <button type="button" class="btn btn-success" style="width: 90px;" onclick="closeFormDeleteUser()">NO</button>
                    <button type="submit" class="btn btn-danger me-2" style="width: 90px;">YES</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content_form_delete_user %}