{% block content_form_add_project %}
    <div class="position-fixed top-0 start-0 end-0 bottom-0 bg-light bg-opacity-50 d-flex justify-content-center align-items-center z-index-1050 hidden-form" id="hidden-form-admin">
        <div class="bg-black p-4 rounded shadow-lg w-100" style="max-width: 500px; position: relative;">
            <form action="{{ url_for('projects.create_project') }}" method="POST">
                <input type="hidden" id="user_id" name="user_id">
                <h4 class="text-center text-light fw-semibold mb-4">NEW PROJECT</h4>
                <div>
                    <label for="project_name" class="my-1 text-light fst-normal">Project name</label>
                    <input type="text" class="form-control custom-input" id="project_name" name="project_name" required>
                </div>
                <div>
                    <label for="comments" class="my-1 text-light fst-normal">Comments</label>
                    <textarea class="form-control custom-input" id="comments" name="comments" required></textarea>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="worked-hours" class="my-1 text-light fst-normal">Worked hours</label>
                        <input type="number" class="form-control custom-input" id="worked_hours" name="worked_hours">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="worked_minutes" class="my-1 text-light fst-normal">Worked minutes</label>
                        <input type="number" min="0" max="59" step="15" class="form-control custom-input" id="worked_minutes" name="worked_minutes">
                    </div>
                </div>
                <div>
                    <label for="to_do_list" class="my-1 text-light fst-normal">To do list</label>
                    <textarea class="form-control custom-input" id="to-do-list" name="to_do_list"></textarea>
                </div>
                <div>
                    <label for="collaborators" class="my-1 text-light fst-normal">Collaborators</label>
                    <select class="form-control custom-input selectpicker" id="collaborators" name="collaborators" multiple data-live-search="true">
                        {% for u in users %}
                            {% if u.id != user.id %}
                                <option value="{{ u.id }}">{{ u.name ~ ' ' ~ u.last_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% if user.role == 0 %}
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="on" id="defaultCheck1" name="is_part_of_project" checked>
                        <label class="form-check-label" for="defaultCheck1">Mark if you are part of the project</label>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-end flex-wrap gap-2 mt-3">
                    <button type="button" id="close-form" class="btn btn-danger me-2" onclick="closeFormNewProject()">Close</button>
                    <button type="submit" id="create-project" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content_form_add_project %}