{% extends 'index.html' %}

{% block content_home %}
    {% block base_sidebar %}
        {% include "base_sidebar.html" %}
    {% endblock base_sidebar %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex align-items-center">
                <div class="profile-icon">
                    <img src="{{ url_for('static', filename='img/profile-img.png') }}" alt="" class="rounded-circle profile-img">
                </div>
                <div>
                    <div class="h5 mb-1">
                        ADMIN01
                    </div>
                    <div>
                        MANAGER
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-md-end" hidden>
                <div class="h5 mb-1">Last Connection</div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex align-items-center">
                {% if page == 'home' %}
                    <div class="h5 mb-1">
                        Show all projects
                    </div>
                {% elif page == 'users' %}
                    <div class="h5 mb-1">
                        Show all users
                    </div>
                {% endif %}
                
            </div>
            <div class="col-md-6 text-md-end" hidden>
                <button type="button" class="btn btn-outline-info">Export</button>
            </div>
        </div>
    </div>

    {% if page == 'home' %}
        {% block content_table %}
            {% include "table-projects.html" %}
        {% endblock content_table %}
    {% elif page == 'users' %}
        {% block content_table_user %}
            {% include "table-users.html" %}
        {% endblock content_table_user %}
    {% elif page == 'projects_user' %}
        {% block content_table_projects_user %}
            {% include "table-projects-user.html" %}
        {% endblock content_table_projects_user %}
    {% endif %}
    
    {% block content_form_add_project %}
        {% include "form-new-project.html" %}
    {% endblock content_form_add_project %}

    {% block content_form_new_user %}
        {% include "form-new-user.html" %}
    {% endblock content_form_new_user %}
    
    {% block content_form_update_project %}
        {% include "form-update-project.html" %}
    {% endblock content_form_update_project %}

    {% block content_form_update_user %}
        {% include "form-update-user.html" %}
    {% endblock content_form_update_user %}

    {% block content_form_delete_project %}
        {% include "form-delete-project.html" %}
    {% endblock content_form_delete_project %}

    {% block content_form_delete_user %}
        {% include "form-delete-user.html" %}
    {% endblock content_form_delete_user %}

    {% block content_form_assigned_project %}
        {% include "form-assigned-project.html" %}
    {% endblock content_form_assigned_project %}

{% endblock content_home %}

{% block block_scripts %}
    {% if page == 'home' %}
        <script src="{{ url_for('static', filename='js/script-dashboard-admin.js') }}"></script>
    {% elif page == 'users' %}
        <script src="{{ url_for('static', filename='js/script-dashboard-list-users.js') }}"></script>
    {% endif %}
{% endblock block_scripts %}

