{% block content_table_user %}
    <div class="container-fluid py-5">
        <div class="row align-items-center">
            <div class="col-md-12 table-responsive">
                <table class="table table-dark table-bordered table-striped mx-auto align-middle">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Full name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for user in users %}
                                {% if user.role != 'admin' %}
                                    <tr>
                                        <td>
                                            <a href="#" class="text-primary fw-bold text-decoration-none" data-menu="{{ user.id }}" onclick="toggleMenu(event, '{{ user.id }}')">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img src="{{ url_for('static', filename='img/menu-icon.svg') }}" alt="">
                                                </div>
                                            </a>
                                            <div class="menu-admin position-absolute mt-2 py-2 border border-light bg-black text-light hidden-menu-admin d-flex" style="width: auto;" data-menu="{{ user.id }}">
                                                <a href="/projects_user/{{ user.id }}"><img src="{{ url_for('static', filename='img/search-icon.svg') }}" alt="" title="User projects" class="mx-2"></a>
                                                <img src="{{ url_for('static', filename='img/update-icon.svg') }}" alt="" title="Update user" class="cursor-pointer" onclick="editUser('{{ user.id }}', '{{ user.name }}', '{{ user.last_name }}', '{{ user.position }}', '{{ user.email }}')">
                                                <img src="{{ url_for('static', filename='img/delete-icon.svg') }}" alt="" title="Delete user" class="cursor-pointer mx-2" onclick="deleteUser('{{ user[0] }}')">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <img src="{{ url_for('static', filename='img/profile-img.png') }}" alt="" class="profile-img-user border-0">
                                            </div>
                                        </td>
                                        <td>{{ user.name ~ ' ' ~ user.last_name }}</td>
                                        <td>{{ user.position }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content_table_user %}