{% block content_table_projects_user %}
    <div class="container-fluid my-4">
        <div class="row align-items-center">
            <div class="col-md-12 d-flex align-items-center">
                <div class="profile-icon">
                    <img src="{{ url_for('static', filename='img/profile-img.png') }}" alt="" class="rounded-circle profile-img-user-details">
                </div>
                <div>
                    <div class="h5">{{ user_profile.name ~ ' ' ~ user_profile.last_name }}</div>
                    <div class="my-1">{{ user_profile.position }}</div>
                    <div>{{ user_profile.email }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="row align-items-center">
            <div class="col-12 table-responsive">
                <table class="table table-bordered table-striped table-dark mx-auto bg-black">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center align-middle">Project name</th>
                            <th scope="col" class="text-center align-middle">Comments</th>
                            <th scope="col" class="text-center align-middle">Start</th>
                            <th scope="col" class="text-center align-middle">Finish</th>
                            <th scope="col" class="text-center align-middle">Status</th>
                            <th scope="col" class="text-center align-middle">Collaborators</th>
                            <th scope="col" class="text-center align-middle">Worked hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in all_projects %}
                            <tr>
                                <td>
                                    <a href="#" class="text-primary fw-bold text-decoration-none" data-menu="{{ project.id }}" onclick="toggleMenu(event, '{{ project.id }}')">
                                        <div class="d-flex justify-content-center align-items-center align-middle" style="height: 2.5rem;">
                                            <img src="{{ url_for('static', filename='img/menu-icon.svg') }}" alt="">
                                        </div>
                                    </a>
                                    
                                    <div class="menu-admin position-absolute mt-2 py-2 border border-light bg-black text-light hidden-menu-admin d-flex" style="width: auto;" data-menu="{{ project.id }}">
                                        <img src="{{ url_for('static', filename='img/search-icon.svg') }}" alt="" title="View details" class="cursor-pointer mx-2" onclick="viewDetails('{{ project.id }}', '{{ project.project_name}}', '{{ project.comments}}', '{{ project.worked_hours}}', '{{ project.worked_minutes}}')">
                                        <img src="{{ url_for('static', filename='img/update-icon.svg') }}" alt="update" title="Update project" class="cursor-pointer" onclick="openFormUpdateProject('{{ project.id }}', '{{ project.project_name}}', '{{ project.comments}}', '{{ project.worked_hours}}', '{{ project.worked_minutes}}', '{{ project.to_do_list}}', '{{ project.status}}', '{{ project.assigned_id}}', '{{ project.collaborators | join(',') }}', '{{ user.id }}', '{{ user.role }}')">
                                        <img src="{{ url_for('static', filename='img/delete-icon.svg') }}" alt="delete" title="Delete project"  class="cursor-pointer mx-2" onclick="openFormDeleteProject('{{ project.id }}')">
                                    </div>
                                
                                </td>
                                <td class="align-middle">{{ project.project_name }}</td>
                                <td class="align-middle">{{ project.comments }}</td>
                                <td class="text-center align-middle">{{ project.start }}</td>
                                <td class="text-center align-middle">
                                    {% if project.finish != None %}
                                        {{ project.finish }}
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    {% if project.status == 1 %}
                                        In progress
                                    {% elif project.status == 0 %}
                                        Finished
                                    {% else %}
                                        Unknown
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">{{ project.collaborators | length }}</td>
                                <td class="text-center align-middle">
                                    {{ '%d:%02dhs' | format(project.worked_hours, project.worked_minutes) }}
                                </td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content_table_projects_user %}