{% block view_project_info %}
<div class="position-fixed top-0 start-0 end-0 bottom-0 bg-light bg-opacity-50 d-flex justify-content-center align-items-center z-index-1050 hidden-detail" id="hidden-detail-proyect">
    <div class="bg-black p-4 rounded-4 shadow-lg w-100" style="max-width: 32rem; position: relative;">
        <div class="mb-3">
            <label class="form-label text-light fst-normal" for="project_name_info">Project name</label>
            <div class="form-control custom-input bg-light text-dark" id="project_name_info"></div>
        </div>
        <div class="mb-3">
            <label class="form-label text-light fst-normal" for="worked_hours_info">Worked hours</label>
            <div class="form-control custom-input bg-light text-dark" id="worked_hours_info"></div>
        </div>
        <div class="mb-3">
            <label class="form-label text-light fst-normal" for="comments_info">Comments</label>
            <div class="form-control custom-input bg-light text-dark" id="comments_info"></div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-danger" style="width: 90px;" onclick="closeDetail()">Close</button>
        </div>
    </div>
</div>
{% endblock view_project_info %}